<div class="row">
	<div class="span8">
		<h3>Active Tournaments</h3>
		<%= render :partial => "active_tournaments" %>
	</div>
	<div class="span4">
		<h3>Inactive Tournaments</h3>
		<%= render :partial => "inactive_tournaments" %>
	</div>
</div>

<%= link_to raw("<i class='icon-plus icon-white'></i> Add a New tournament"), new_tournament_path, :class => 'btn btn-primary', :id => 'Create tournament' %>